@charset "utf-8";

body {
	padding:20px;
}

ol li {
	padding: 5px;
	margin: 5px;
	background-color: white;
}

form , option, input{
	font-size: 1.2em;
}

.quiz_string{
	font-size: 2em;
}
.quiz_comment {
	font-size: 1em;
}
.quiz_ans {
	background:#FFD700;
}

#quiz_result , #quiz_content{
	width:60%;
	margin: 0 auto;
}

#quiz_result {
	font-size:1.2em;
}
